@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/*alert-[status] isn't found in source very easily, so best to force add to css*/
/*reference: https://tailwindcss.com/docs/detecting-classes-in-source-files#safelisting-specific-utilities*/
@source inline("alert-success");
@source inline("alert-warning");
@source inline("alert-error");
@source inline("alert-info");

[x-cloak] {
  display: none !important;
}

@layer components{
  .toast-alert{
    @apply alert alert-vertical sm:alert-horizontal relative overflow-hidden;
  }

  .toast-alert-progress{
    @apply h-0.5 absolute;


    bottom: 0;
    left: 0;
    z-index: 10;
    background: currentColor;
  }

  #toast-container{
    @apply toast sm:toast-top flex-col-reverse sm:flex-col toast-center z-50;
  }
}
